<div class="jumbotron-fluid bg-light p-5 mb-4">
  <h1 class="display-4 text-center text-dark">Web Development</h1>

  <h5 class="text-center mt-5 mb-3 text-dark">Some technologies/languages I have worked with:</h5>
  <ul class="d-flex flex-wrap justify-content-center list-unstyled">
    <li class="bg-light-blue my-1 text-light p-2 m-2" *ngFor="let item of content.technologies">
      {{ item }}
    </li>
  </ul>
</div>

<div class="jumbotron-fluid bg-light text-dark p-5 mb-4">
  <h3 class="text-dark">ABSA South Africa (2020 - Present)</h3>
  <p class="text-secondary"><em>I worked as part of a team on the development of a high volume collections system for a large South African bank.</em></p>
  <p class="text-dark">The system consists of multiple microservices and an ops dashboard. It integrates with various other systems and platforms both inside the bank and externally.</p>
  <p class="text-dark">Things I worked on:</p>
    <li class="text-dark">Development of ops dashboard for internal use (Angular, Typescript, Akita)</li>
    <li class="text-dark">Contributions to various microservices (Java, Spring Boot, Kubernetes)</li>
    <li class="text-dark">Developed a segment of the system myself, from analysis to deployment and support, under the guidance of the tech lead</li>
    <li class="text-dark">Used various platforms to aid in the development process (Jira, Miro, Jenkins and more)</li>
</div>

<div class="jumbotron-fluid bg-light p-5 mb-4">
  <h3 class="text-dark">Freelance work (2017 - 2020)</h3>
  <p class="text-dark">WordPress & static sites (I created the WordPress themes from scratch)</p>
  <app-cards></app-cards>
  <h5 class="jumbotron-fluid p-5 bg-secondary text-light"><i class="fa fa-info-circle" aria-hidden="true"></i> I also did various small coding jobs online which mainly consisted of fixing bugs on websites.</h5>
</div>

<div class="card bg-dark mb-3">
  <div class="card-body">
    <h1 class="card-title text-center text-light">Some History</h1>
  </div>
  <img src="../../../../assets/img/history.jpg" style="height: 250px; object-fit: cover" class="card-img-top" alt="...">
</div>

<div class="jumbotron-fluid bg-light p-5 mb-4">
  <h3 class="text-dark">Africa Audio Post (2016 - 2018)</h3>
  <p class="text-secondary"><em>I was employed in a mid-level managerial position overseeing recording of broadcast audio (dubbing).</em></p>
  <p class="text-dark">I started experimenting with Google scripts for automating tedious tasks. This would lead to more efficient recording sessions and streamlined production.</p>
  <p class="text-dark">The scripts would mainly make small real-time calculations based on minimal user input related to pending or completed work. The results would be displayed on a dashboard where staff can track recording progress.</p>
  <p class="text-dark">I also used Google scripts to add ‘formulas’ to Google Sheets.</p>
  <p class="text-dark">Started learning Ruby, Ruby on Rails and front-end development.</p>
  <p class="text-dark">Discovered WordPress and built a website for the studio. (They have replaced it since)</p>
</div>

<div class="jumbotron-fluid bg-light p-5 mb-4">
  <h3 class="text-dark">AEMG Studios (2019 - 2020)</h3>
  <p class="text-secondary"><em>I am currently employed in a senior managerial position, reporting to the CEO.</em></p>
  <p class="text-dark">At AEMG I put together a similar system to the one we used at Africa Audio Post. Ultimately my goal was to build a web application with a JS framework to replace the Google Sheets system (which is why I decided to focus heavily on sharpening my Javascript skills). I learnt a lot about solving complex data problems with code.</p>
  <p class="text-dark">The current system uses Google scripts and formulas to complete various tasks, for example:</p>
  <ul class="text-dark">
    <li class="text-dark">Calculate totals to display on overview pages</li>
    <li class="text-dark">Process data for staff performance monitoring</li>
    <li>
      <p class="text-dark">Process form data:</p>
      <ul>
        <li class="text-dark">Create Artist Sheet inside “Artists” spreadsheet </li>
        <li class="text-dark">Name the sheet according to form input</li>
        <li class="text-dark">Generate and add an ID to the sheet</li>
        <li class="text-dark">Add the form data to an overview sheet</li>
        <li class="text-dark">Add a link to the Artist Sheet in the new row on the overview sheet</li>
      </ul>
    </li>
  </ul>
  <p><a target="blank" href="https://gist.github.com/mjdebeer/ac3afa3340cd71ff7153530390e3c595" class="text-dark">See an example of the code here</a></p>
  <p class="text-dark">I used the opportunity to try different ways of structuring data and test out what works the most intuitively. I also built a   <a href="http://aemg.africa/aemgweb/">website </a>for this studio. This one is just static.</p>
  <p class="text-dark">While working at AEMG I was able to broaden my web development skills a lot through various online and other resources. </p>
</div>
